@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    }
    .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
    .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
    }
    .site-footer hr.small {
        margin: 20px 0;
        }
        .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
        }
        .site-footer a {
        color: #737373;
        }
        .site-footer a:hover {
        color: #fff;
        text-decoration: none;
        }
        