* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f4c531;
  }
  .container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  form {
    width: 23.75em;
    height: 18.75em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 3.1em);
    left: 50%;
    padding: 0 3.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5em;
  }
  form label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: 600;
    color: #2e0d30;
  }
  form input {
    font-size: 0.95em;
    font-weight: 400;
    color: #3f3554;
    padding: 0.3em;
    border: none;
    border-bottom: 0.12em solid #3f3554;
    outline: none;
  }
  form input:focus {
    border-color: #f4c531;
  }
  form input:not(:last-child) {
    margin-bottom: 0.9em;
  }
  form button {
    font-size: 0.95em;
    padding: 0.8em 0;
    border-radius: 2em;
    border: none;
    outline: none;
    background-color: #f4c531;
    color: #2e0d30;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-top: 0.8em;
  }
  