* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    }
    html,
    body {
        height: 100%;
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1619190223471-53ac698b13c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY0fHxibHVlJTIwYWVzdGhldGljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
        background-position: center;
        background-size: cover;
        }
        