.wrapper {
    min-height: 100vh;
    color: #000;
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    background-color: #f1e8e6;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  
  .container {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f55951;
    box-shadow: 0px 17px 34px -20px #f55951;
  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .text {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }
  
  