* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0a4b78;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 367px;
    height: 500px;
    position: relative;
    background: linear-gradient(to bottom, #01263a 0%, #4f94d4 70%, #c5d9ed 100%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3), 0 10px 10px rgba(0, 0, 0, .3);
    border-radius: 80px;
    overflow: hidden;
}

.disc-1 {
    position: absolute;
    top: 24%;
    left: 1%;
    width: 359px;
    height: 358px;
    background: #72aee6;
    opacity: 0.2;
    border-radius: 50%;
    animation: glow infinite 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.disc-2 {
    position: absolute;
    top: 35%;
    left: 16%;
    width: 260px;
    height: 260px;
    background: #9ec2e6;
    opacity: 0.4;
    border-radius: 50%;
    animation: glow infinite 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.disc-3 {
    position: absolute;
    top: 43%;
    left: 27%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #f0f6fc;
    opacity: 0.6;
    animation: glow infinite 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.landscape-1 {
    position: absolute;
    bottom: 119px;
    left: -7px;
    width: 250px;
    height: 70px;
    background-color: #9ec2e6;
    transform: rotate(9deg);
}

.landscape-2 {
    position: absolute;
    bottom: 90px;
    right: -7px;
    width: 350px;
    height: 90px;
    background-color: #72aee6;
    transform: rotate(-6deg);
}

.landscape-3 {
    position: absolute;
    bottom: 65px;
    left: -4px;
    width: 390px;
    height: 80px;
    background-color: #4f94d4;
    transform: rotate(5deg);
}

