h1, h2, h3, h4, h5 {
    font-family: 'Jost', Futura, sans-serif;
    margin: 0 0 1rem 0;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 125%;
  }
  
  hr {
    margin: 2rem 0;
    border: none;
    border-top: black 1px solid;
  }
  
  p {
    margin: 1rem 0;
  }
  
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: indigo;
    color: white;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    font-size: 22px;
    font-family: sans-serif;
    line-height: 150%;
  }
  
  