h1,
h2,
h3,
h4,
h5 {
    font-family: 'Jost', Futura, sans-serif;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 3rem;
    line-height: 125%;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: black 1px solid;
}

p {
    margin: 1rem 0;
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: indigo;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    font-size: 22px;
    font-family: sans-serif;
    line-height: 150%;
}

#body {
    width: 100%;
    max-width: 400px;
}

.gold {
    display: block;
    background: repeating-linear-gradient(135deg, rgb(255, 221, 155) 0, rgb(254, 215, 146) 20px, rgb(255, 225, 172) 40px, rgb(255, 255, 255) 70px, rgb(250, 198, 107) 125px, rgb(246, 194, 107) 160px, rgb(231, 177, 85) 175px, rgb(244, 193, 107) 185px, rgb(241, 191, 107) 220px, rgb(243, 190, 102) 235px, rgb(233, 177, 83) 250px, rgb(245, 190, 97) 280px, rgb(249, 188, 86) 305px, rgb(255, 251, 245) 385px, rgb(252, 195, 98) 415px, rgb(252, 195, 121) 450px, rgb(255, 221, 155) 500px);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat;
    background-attachment: fixed;
    backface-visibility: none;
    color: rgb(255, 221, 155);
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 3px 1px #000);
}